body {
    line-height: 1;
    font-family: $font;
    color: $text-color;
    font-weight: 400;
    z-index: 1;
  }

  .root{
    position: relative;
    background-color: #F5F5F5;
    z-index: 2;
  }
  .lightMode{
    position: fixed;
    right: 40px;
    top: 80px;
    height: 30px;
    width:  60px;
    border-radius: 20px;
    background-color: #000;
    border: 1px solid #666;
    &-circle{
      position: absolute;
      top: 0;
      right:  0;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background-color: #F5F5F5;
    }
    z-index: 3;
  }
  button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $font;
  }
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .button {
    display: inline-block;
    padding: 13px 30px;
    border-radius: 5px;
    font-family: $font;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
    &--primary {
      font-weight: 700;
      background-color: $primary-color;
      color: white;
    }
    &--outline {
      background-color: transparent;
      color: $primary-color;
      font-weight: 500;
      border: 2px solid $desc-color;
    }
    &--rounded {
      border-radius: 10px;
      padding: 17px 65px;
    }
    &--shadow {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 90%;
        height: 100%;
        transform: translate(-50%, 50%);
        background-color: rgba(245, 56, 56, 0.35);
        filter: blur(54px);
        border-radius: inherit;
      }
    }
  }
  @media (max-width: 1180px){
    .container {
      max-width: 956px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .wrapper {
      max-width: 1080;
      margin: 0 auto;
      overflow: hidden;
    }
  }