
.overview{
    margin-top: 80px;
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @keyframes showContent {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0.6;
        }
        100%{
            opacity: 1;
        }
    }
    
    &-content{
        color: #fff;
        width: 45%;
        animation: showContent 1s linear;
    }
    &-content h3{
        width: 100%;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        margin-bottom: 20px ;
        font-size: 48px;
        font-weight: 700;
    }
    &-content p{
        font-size: 20px;
        color: $desc-color;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 28px;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-weight: 400;
    }
    &-content button a{
        color: #fff;
    }
    &-watch{
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: showContent 1s linear;
    }
    &-watch img{
        width: 100%;
        height: 340px;
        object-fit: cover;
        border-radius: 20px;
        border: 2px solid $gray-color;
    }
    &-watch .circle:hover{
        opacity: 0.7;
        cursor: pointer;
    }
    &-watch .circle{
        width: 120px;
        height: 120px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba($color: rgb(201, 200, 200), $alpha: 0.5); 
    }
    &-watch .circle a {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        border: none;
    }
    &-watch .circle img {
        width: 80px;
        height: 80px;
        display: block;
        position: absolute;
        border: none;
    }

    &-slide{
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }
    .list-slide{
        width: 200px;
        height: 8px;
        display: flex;
    }
    .slide-item{
        flex: 1;
        height: 8px;
        background-color: #999;
        margin: 0 6px;
        border-radius: 5px;
    }
    .slide-item.active{
        flex: 1.6;
        background-color: #fff;
    }
}
@media (min-width: 1580px){
    .overview{
        &-watch img{
            width: 100%;
            height: 500px;
        }
    }
  }
