
.project{
    margin-top: 80px;
    &-container{
        padding: 40px 0;
        position: relative;
    }
    &-seeAll{
        position: absolute;
        right: 0;
        top :30px;
    }
    &-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        gap: 20px;
        box-sizing: border-box;

    }
    &-title{
        margin-bottom: 40px;
        font-size: 24px;
        color: #000;
    }
    &-item{
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
    }
    &-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &-content{
        position: absolute;
        bottom: 10px;
    }
    &-item span,
    &-item  h5{
        color: #fff;

    }
    &-item span{
        font-size: 13px;
    }
    &-slide{
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    .list-slide{
        width: 200px;
        height: 8px;
        display: flex;
    }
    .slide-item{
        flex: 1;
        height: 8px;
        background-color: #999;
        margin: 0 6px;
        border-radius: 5px;
    }
    .slide-item.active{
        flex: 1.6;
        background-color: #000;
    }
}