
.service{
    margin-top: 80px;
    &-container{
        padding: 40px 0;
        text-align: center;
        

    }
    &-title{
        margin-bottom: 40px;
        font-size: 48px;
        color: #000;
        font-weight: 700;
    }
    &-item{
        width: 100%;
        display: flex;
        background-color: 
        #E3E3E3;
        padding: 20px;
        margin-top: 20px;
        border-radius: 20px;
        align-items: center;
        height: 360px;
    }
    &-item img{

        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &-content{
        width: 50%;
        height: 320px;
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding:0 60px;
    }
    &-content h3{
        width: 100%;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        margin-bottom: 20px ;
        font-size: 30px;
        font-weight: 600;
    }
    &-content p{
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        height: 100px;
        color: $desc-color;
        margin-bottom: 20px;
    }
    &-content button a{
        color: #000;
    }
    .button--minwidth{
        max-width: 200px;
    }
}
@media (min-width: 1580px){
    .service{
        &-item{
            height:  400px;
        }
    }

  }